.exe
*.exe
*/*.exe
*/*/*.exe
*/*/*/*.exe
*/*/*/*/*.exe
.obj
*.obj
*/*.obj
*/*/*.obj
*/*/*/*/*.obj
*/*/*/*/*/*.obj   
.o
*.o
*/*.o
*/*/*.o
*/*/*/*/*.o
*/*/*/*/*/*.o   
.a
*.a
*/*.a
*/*/*.a
*/*/*/*/*.a
*/*/*/*/*/*.a   
build/*
build/*/*
build/*/*/*
build/*/*/*/*
build/*/*/*/*/*
.*
*/.*
*/*/.*
*/*/*/.*
*/*/*/*/.*
*/*/*/*/*/.*
*.log
*/*.log
*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log
*.pdb
*/*.pdb
*/*/*.pdb
*/*/*/*/*.pdb
*/*/*/*/*/*.pdb
*/*/*/*/*/*/*.pdb
include/uint128_t_fixed.hpp.bakup
external
external/*
external/*/*
external/*/*/*
external/*/*/*/*
external/*/*/*/*/*
external/*/*/*/*/*/*
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
.vscode
*/.vscode
*/*/.vscode
*/*/*/.vscode
*/*/*/*/.vscode
*/*/*/*/*/.vscode
*/*/*/*/*/*/.vscode
.idea
*/.idea
*/*/.idea
*/*/*/.idea
*/*/*/*/.idea
*/*/*/*/*/.idea
*/*/*/*/*/*/.idea
*.iml
*/*.iml
*/*/*.iml
*/*/*/*/*.iml
*/*/*/*/*/*.iml
*/*/*/*/*/*/*.iml
*backup
*/*backup
*/*/*backup
*/*/*/*backup
*/*/*/*/*backup
*/*/*/*/*/*backup
*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~
*/*/*/*/*/*~
*tmp
*/*tmp
*/*/*tmp
*/*/*/*tmp
*/*/*/*/*tmp
*/*/*/*/*/*tmp
*.bakup
*/*.bakup
*/*/*.bakup
*/*/*/*/*.bakup
*/*/*/*/*/*.bakup
*/*/*/*/*/*/*.bakup
*bak
*/*bak
*/*/*bak
*/*/*/*bak
*/*/*/*/*bak
*/*/*/*/*/*bak
*.swp
*/*.swp
*/*/*.swp
*/*/*/*/*.swp
*/*/*/*/*/*.swp
*/*/*/*/*/*/*.swp
log_build.md
include/uint128/uint128_t.hpp
log_build_gcc.txt
log_build_msvc.txt
log_build_int128_extracted_tests.txt
temp_int128_alg.txt
log_build_uint128_algo_bench.txt
log_msvc_build.txt
log_uint128_bits_msvc_full.txt
log_uint128_bits_msvc.txt
algorithm_benchmarks_intel.txt
algorithm_benchmarks_msvc.txt
CRASH
log_run_bits_bench.txt
benchmark_results/uint128_cmath_benchmarks_clang.txt
benchmark_results/uint128_cmath_benchmarks_gcc.txt
benchmark_results/uint128_cmath_benchmarks_intel.txt
benchmark_results/uint128_cmath_benchmarks_msvc.txt
benchmark_results/int128_cmath_benchmarks_clang.txt
benchmark_results/int128_cmath_benchmarks_gcc.txt
benchmark_results/int128_cmath_benchmarks_intel.txt
benchmark_results/int128_cmath_benchmarks_msvc.txt
log_compile_intel.txt
log_intel_full.txt
scripts/__pycache__/setvars_intel.cpython-314.pyc
benchmark_results/intel/release/uint128_traits_benchmarks_20251222_213638.txt
benchmark_results/intel/release/uint128_traits_benchmarks_20251222_214532.txt
benchmark_results/clang/debug/uint128_limits_benchs_20251222_224423.txt
benchmark_results/clang/release/uint128_limits_benchs_20251222_224423.txt
benchmark_results/gcc/debug/uint128_limits_benchs_20251222_224422.txt
benchmark_results/gcc/release/int128_traits_benchmarks_20251222_220803.txt
benchmark_results/gcc/release/uint128_limits_benchs_20251222_224423.txt
benchmark_results/gcc/release/uint128_traits_benchmarks_20251222_222450.txt
benchmark_results/intel/debug/int128_traits_benchmarks_20251222_221442.txt
benchmark_results/intel/release/int128_traits_benchmarks_20251222_221315.txt
benchmark_results/clang/debug/int128_limits_benchs_20251222_233834.txt
benchmark_results/clang/release/int128_limits_benchs_20251222_233834.txt
benchmark_results/gcc/debug/int128_limits_benchs_20251222_233833.txt
benchmark_results/gcc/release/int128_limits_benchs_20251222_233834.txt
