.exe
*.exe
*/*.exe
*/*/*.exe
*/*/*/*.exe
*/*/*/*/*.exe
.obj
*.obj
*/*.obj
*/*/*.obj
*/*/*/*/*.obj
*/*/*/*/*/*.obj   
.o
*.o
*/*.o
*/*/*.o
*/*/*/*/*.o
*/*/*/*/*/*.o   
.a
*.a
*/*.a
*/*/*.a
*/*/*/*/*.a
*/*/*/*/*/*.a   
build/*
build/*/*
build/*/*/*
build/*/*/*/*
build/*/*/*/*/*
.*
*/.*
*/*/.*
*/*/*/.*
*/*/*/*/.*
*/*/*/*/*/.*
*.log
*/*.log
*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log
*.pdb
*/*.pdb
*/*/*.pdb
*/*/*/*/*.pdb
*/*/*/*/*/*.pdb
*/*/*/*/*/*/*.pdb
include/uint128_t_fixed.hpp.bakup
external
external/*
external/*/*
external/*/*/*
external/*/*/*/*
external/*/*/*/*/*
external/*/*/*/*/*/*
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
.vscode
*/.vscode
*/*/.vscode
*/*/*/.vscode
*/*/*/*/.vscode
*/*/*/*/*/.vscode
*/*/*/*/*/*/.vscode
.idea
*/.idea
*/*/.idea
*/*/*/.idea
*/*/*/*/.idea
*/*/*/*/*/.idea
*/*/*/*/*/*/.idea
*.iml
*/*.iml
*/*/*.iml
*/*/*/*/*.iml
*/*/*/*/*/*.iml
*/*/*/*/*/*/*.iml
*backup
*/*backup
*/*/*backup
*/*/*/*backup
*/*/*/*/*backup
*/*/*/*/*/*backup
*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~
*/*/*/*/*/*~
*tmp
*/*tmp
*/*/*tmp
*/*/*/*tmp
*/*/*/*/*tmp
*/*/*/*/*/*tmp
*.bakup
*/*.bakup
*/*/*.bakup
*/*/*/*/*.bakup
*/*/*/*/*/*.bakup
*/*/*/*/*/*/*.bakup
*bak
*/*bak
*/*/*bak
*/*/*/*bak
*/*/*/*/*bak
*/*/*/*/*/*bak
*.swp
*/*.swp
*/*/*.swp
*/*/*/*/*.swp
*/*/*/*/*/*.swp
*/*/*/*/*/*/*.swp
log_build.md
