.exe
*.exe
*/*.exe
*/*/*.exe
*/*/*/*.exe
*/*/*/*/*.exe
.obj
*.obj
*/*.obj
*/*/*.obj
*/*/*/*/*.obj
*/*/*/*/*/*.obj   
.o
*.o
*/*.o
*/*/*.o
*/*/*/*/*.o
*/*/*/*/*/*.o   
.a
*.a
*/*.a
*/*/*.a
*/*/*/*/*.a
*/*/*/*/*/*.a   
build/*
build/*/*
build/*/*/*
build/*/*/*/*
build/*/*/*/*/*
.*
*/.*
*/*/.*
*/*/*/.*
*/*/*/*/.*
*/*/*/*/*/.*
*.log
*/*.log
*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log
*.pdb
*/*.pdb
*/*/*.pdb
*/*/*/*/*.pdb
*/*/*/*/*/*.pdb
*/*/*/*/*/*/*.pdb